h2,h3,h4,h5{
	font-style: italic
}

	body {
		text-align:center;}
		div {
font-size: 200%;color:#ffffff;
}
#background{
	position:fixed;
	top:115px;
	left:115px;
	z-index:1;
}
h1{z-index:4;}
div{vertical-align: center;}
.site-footer {
  background: orange;}